<!-- <h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>
 -->

 <div class="container text-center">
  <div class="row">
    <h1>Ask Your Coach A Question</h1>
  </div>
  <div class="row wrapper-form">
    <div class="col-xs-offset-3 col-xs-6">
      <form action="answer" method='get'>
        <div class="form-group text-left">
          <label>Speak to your coach</label>
          <input type="text" class="form-control" name="query" placeholder="Ask your coach a question">
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="Ask him!">
      </form>
    </div>
  </div>
</div>
